<!doctype html>
<html>
    <head>
        <title>A Blog</title>
        <style>
        .error {
            color: red
        }
        </style>
    </head>
<body>
<a href="/">Main Blog Page</a> 
{% if 'username' in session %}
<a href="/singleUser">My Posts</a>
<a href="/newpost">Add an Entry</a>
<p> Logged in as {{ session['username'] }}</p>

<a href="/logout" method='post'>Logout</a>
{% else %}
<a href="/login">Login</a>
<a href="/signup">Sign up</a>
{% endif %}
    {% block content %}
    {% endblock %}

</body>
</html>