{% extends "base.html" %}

{% block content %}
    <h1>Blog</h1>
    <form method='post'>
        <label>
            New Blog:
            <input type="text" name='blog' />
        </label>
        <input type="submit" value='Add Blog' />
    </form>

    <hr />

    {% if tasks|length == 0 %}
    <p>No tasks yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>{{blog.name}}
                <form method="POST" action="/delete-task" style="display:inline-block;">
                    <input type="hidden" name="task-id" value="{{task.id}}" />
                    <input type="submit" value="Done!" />
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}